body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  text-align: center;
}

#heading {
  text-align: center;
  font-size: 2em;
  background-color:white;
  color: black;
}

#colorHarmonySelection {
  text-align: center;
  font-size: x-large;
}

#spacer1 {
  padding: 3em;
  margin: 3em;
}

.panel {
  background-image: none;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  height: 3em;
}

#userColorPanel {
  background-color: white;
}

#color1 {
  background-color: aquamarine;
}

#color2 {
  background-color: rgb(127, 255, 165);
}

#color3 {
  background-color: rgb(206, 255, 127);
}

#color4 {
  background-color: rgb(255, 214, 127);
}
